body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2em;
    margin: 0;
    line-height: 1.2;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

.quick_buttons {
    margin: 6px;
    padding: 10px 15px;
    font-size: 1em;
    color: #ffffff;
    background-color: #1e90ff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

h2, h3 {
    color: #000000;
}

p, ul, a {
    color: #333333;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;    
}

nav {
    position:fixed;
    top: 0;
    left: 2%;
    height: 100%;
    width: 60px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    transition: width 0.3s;
}

.menu-toggle {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu-icon {
    width: 30px;
    height: 2px;
    background-color: #000000;
    position: relative;
}

.menu-icon::before,
.menu-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #000000;
}

.menu-icon::before {
    top: -10px;
}

.menu-icon::after {
    top: 10px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.menu-list li {
    margin: 15px 0;
}

.menu-list a {
    color: #000000;
    font-size: 1.2em;
    text-align: center;
}

.icons {
    width: 20px; 
    height: 20px;
    border-radius: 20%;
}

.contact-info {
    padding: 0.5%;
    width: 350px;
    background-color: #f8f8f8;
    color: #000000;
    border: 1px solid #cccccc;
}
